/* Componentes */
@import url('./componentes/tipografias.css');
@import url('./componentes/cores.css');
@import url('./componentes/componentes.css');

/* Gerais */

body{
  margin: 0;
  
}

h1,h2,h3,p{
  margin: 0px;
}

ul,li{
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
  
}

main img:not(.benefits__item img){
  border-radius: 20px;
}

a{
  display: inline-block;
  text-decoration: none;
}

/* Header */

.header-container{
  max-width: 1110px;
  padding: 0 20px;
  margin: 55px auto 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* main article */
.main-article-bg{
  background-image: url("../assets/shared/pattern-square.svg");
  background-repeat: no-repeat;
  background-position: calc(100% + 127.5px) 0px;
}

.main-article__container{
  padding: 0 20px;
  max-width: 1110px;
  margin: 0px auto 30px;
  display: grid;
  gap: 16px;
  grid-template-columns: minmax(346px,1fr) auto;
  align-items: center;
}

.main-article__description{
  justify-self: start;
}

.main-article__description p {
  max-width: 53ch;
  margin: 24px 0px 40px;
}

.main-article__preorder-btn{
  display: flex;
  align-items: center;
  gap: 40px;
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width:1200px){
  .main-article-bg{
    background: initial;
  }
}

/* Keyboard description */
.product-description-bg{
  background-image: url("../assets/shared/pattern-square.svg");
  background-repeat: no-repeat;
  background-position: -127.5px 100%;
}

.product-description__container{
  padding: 0 20px;
  max-width: 1110px;
  margin: 0 auto 168px;
  display: grid;
  gap: 16px;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.product-description__heros{
  display: flex;
  gap:30px;
 }

.product-description__keyboard-text{
  justify-self: end;
  max-width: 255px;
}

.product-description__keyboard-text h2{
 margin-bottom: 27px;
}

@media (max-width:1200px){
  .product-description-bg{
    background: initial;
  }

  .product-description__container{
    grid-template-columns: 1fr;
    margin-bottom: 142px;
  }

  .product-description__keyboard-text{
    justify-self: initial;
    max-width: initial;
    display: flex;
    align-items: center;
    margin-top: 72px;
  }

  .product-description__keyboard-text h2{
    margin-bottom: initial;
   }
}

/* .product-description__keyboard-text p{
  max-width: 29ch;
  margin-top: 27px;
} */

/* Benefits Section */

.benefits__container{
  padding: 0 20px;
  max-width: 1110px;
  margin: 0 auto 128px;
}

.benefits__list{
  display: flex;
  gap: 30px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.benefits__item{
  flex: 1 1 255px;
}

.benefits__icon {
  width: 65px;
  height: 65px;
  background-color: var(--cor-p1);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__item h3{
  max-width: 14ch;
  margin-top: 48px;
  margin-bottom: 24px;
}

.benefits__item h3 > span{
  display: block;
 }

 footer{
  padding: 0 20px;
  margin-bottom: 39px;
  text-align: center;
  font-weight: 700;
 }

 footer p > span{
  font-weight: 500;
 }