.btn-1{
  padding: 16px 27px 16px 26px;
  color: var(--cor-1);
  font-weight: 700;
  border-radius: 8px;
  background-color: var(--cor-p1);
  transition: all .3s;
}

.btn-1:hover{
  background-color: var(--cor-p2);
}

.btn-2{
  padding: 16px 27px 16px 26px;
  color: var(--cor-p3);
  font-weight: 700;
  border-radius: 8px;
  background-color: var(--cor-0);
  transition: all .3s;
  text-transform: uppercase;
}

.btn-2:hover{
  background-color: var(--cor-p3);
  color: var(--cor-1);
}

@media (max-width: 650px) {
  .btn-1,.btn-2{
    padding: 11px 14px;
  }
}