.btn-1{
  padding: 16px 27px 16px 26px;
  color: var(--cor-1);
  font-weight: 700;
  border-radius: 8px;
  background-color: var(--cor-p1);
}

.btn-1:hover{
  background-color: var(--cor-p2);
}

.btn-2{
  padding: 16px 27px 16px 26px;
  color: var(--cor-p3);
  font-weight: 700;
  border-radius: 8px;
  background-color: var(--cor-0);
}

.btn-2:hover{
  background-color: var(cor-p3);
  color: var(cor-1);
}