.font-1-xxl {
  font-family: 'Barlow', sans-serif;
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

.font-1-xl {
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  line-height: 1.125;
  font-weight: 900;
  text-transform: uppercase;
}

.font-1-l {
  font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
  line-height: 1.166;
  font-weight: 900;
  text-transform: uppercase;
}

.font-1-ll {
  font-family: 'Barlow';
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.444;
}

.font-1-s {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;

}

@media (max-width:870px) {
  .font-1-xxl {
    font-size: 3rem;
  }
}

@media(max-width:600px){
  .font-1-ll {
    font-family: 'Barlow';
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.444;
  }
}